<header>
  <div class="header-container clearfix">
    <h1><%= page_title %></h1>

    <div class="login-form">
      <%= form_with scope: :session, url: sessions_path, local: true do |f| %>
        <table>
          <thead>
            <tr>
              <th><%= f.label :email, 'メールアドレス' %>
              <th><%= f.label :password, 'パスワード', class: 'pass'%>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= f.text_field :email %>
              <td><%= f.password_field :password %>
              <td><%= f.submit 'ログイン', class: 'login-btn' %>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div><!-- /.login-form -->
  </div><!-- /.header-container -->
</header>

<div class="top-content clearfix">
  <div class="notice">
    <p><%= notice %></p>
  </div><!-- /.notice -->
  <div class="top-content-left">
    <h2>最近の投稿</h2>
    <p>会員登録しなくても、直近の閲覧はできます。</p>
  </div><!-- /.top-content-left -->

  <%= render '/users/form' %>
</div><!-- /.top-content -->

<footer>
  <%= link_to 'DIVE INTO CODE', 'https://diveintocode.jp' %>
</footer>
