<% @page_title = 'ユーザー管理' %>

<header>
  <nav>
    <ul class="clearfix">
      <li><i class="fab fa-facebook-square fa-2x"></i></li>
      <li><input type="text" placeholder="検索"></li>
      <li><input type="submit" value="検索"></li>
      <li><img src="/dive_into_code.png" alt="山田太郎" class="user-icon cover30"></li>
      <li class="user-name">山田太郎</li>
    </ul>
  </nav>
</header>

<p><%= notice %></p>

<h2><%= @page_title %></h2>

<table border="1" class="user-index">
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.last_name + ' ' + user.first_name, user_path(user) %></td>
      <td><%= link_to '編集', edit_user_path(user) %> | </td>
      <td><%= link_to '削除', user_path(user_path(user)),
                method: :delete, data: { confirm: '削除してもいいですか？'} %></td>
    </tr>
  <% end %>
</table>
