<% @page_title = 'ユーザー管理' %>
<%= render 'shared/header' %>

<div class="outer-wrapper">
  <div class="notice">
    <p><%= notice %></p>
  </div><!-- /.notice -->

  <div class="container">
    <h2><%= @page_title %></h2>
    <table class="user-index">
      <% @users.each do |user| %>
        <tr>
          <td class="u-index-td right"><%= user.id %></td>
          <td class="u-index-td">
            <%= link_to user.last_name + ' ' + user.first_name,
                    user_path(user.id) %>
          </td>
          <td class="u-index-td center">
            <%= link_to '編集', edit_user_path(user.id) %> |
                    <%= link_to '削除', user_path(user.id), method: :delete,
                    data: { confirm: '削除してもいいですか？'} %>
          </td>
        </tr>
      <% end %>
    </table>
  </div><!-- /.container -->
</div><!-- /.outer-wrapper -->
