
<% @page_title = 'ユーザー管理' %>

<p><%= notice %></p>

<h2><%= @page_title %></h2>

<table border="1" class="user-index">
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.last_name + ' ' + user.first_name, user_path(user) %></td>
      <td><%= link_to '編集', edit_user_path(user) %> | </td>
      <td><%= link_to '削除', user_path(user_path(user)),
                method: :delete, data: { confirm: '削除してもいいですか？'} %></td>
    </tr>
  <% end %>
</table>
