<% @page_title = 'ユーザー情報詳細'%>
<% if current_user %>
  <%= render 'shared/header' %>
<% else %>
  <%= render 'shared/user_header' %>
<% end %>

<div class="outer-wrapper">
  <div class="container">
    <p><%= notice %></p>

    <div class="content">
      <h2><%= @page_title %></h2>

      <div class="to-index">
        <%= link_to 'ログインする', new_session_path %>
      </div><!-- /.to-index -->

      <%= render 'shared/user_show' %>
    </div><!-- /.content -->
  </div><!-- /.container -->
</div><!-- /.outer-wrapper -->
