<% @page_title = 'ユーザー情報詳細'%>
<% if current_user %>
  <%= render 'shared/header' %>
<% else %>
  <%= render 'shared/user_header' %>
<% end %>

<div class="outer-wrapper">
  <div class="notice">
    <p><%= notice %></p>
  </div><!-- /.notice -->
  <div class="container">
    <div class="content">
      <h2 class="page-title"><%= @page_title %></h2>

      <% if current_user %>
        <div class="to-index">
          <%= link_to 'ユーザー管理へ戻る', users_path %>
        </div><!-- /.to-index -->
      <% end %>

      <% unless current_user %>
        <div class="to-index">
          <%= link_to 'ログインする', new_session_path %>
        </div><!-- /.to-index -->
      <% end %>

      <%= render 'shared/user_show' %>
    </div><!-- /.content -->
  </div><!-- /.container -->
</div><!-- /.outer-wrapper -->
