<div class="create-account">
  <%#= form_with model: @user, local: true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div><!-- /.error_explanation -->
  <% end %>

  <table>
    <tr>
      <th class="user-form-th"><%= f.label :last_name, class: 'f-label' %></th>
      <th class="user-form-th"><%= f.label :first_name, class: 'f-label' %></th>
    </tr>
    <tr>
      <td><%= f.text_field :last_name, class: 'add-border' %></td>
      <td><%= f.text_field :first_name, class: 'add-border' %></td>
    </tr>
    <tr>
      <th class="user-form-th"><%= f.label :email, class: 'f-label' %></th>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.text_field :email, class: 'add-border wide' %>
      </td>
    </tr>
    <tr>
      <th class="user-form-th"><%= f.label :password, class: 'f-label' %></th>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.password_field :password, class: 'add-border wide' %>
      </td>
    </tr>
    <tr>
      <td class="user-form-th"><%= f.label :password_confirmation, class: 'f-label' %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.password_field :password_confirmation, class: 'add-border wide' %>
      </td>
    </tr>
    <tr class="tr-birthday">
      <th class="user-form-th"><%= f.label :birthday, class: 'f-label', value: '誕生日' %></th>
    </tr>
    <tr>
      <td><%= f.date_select :birthday,
                start_year: 1940, end_year: Time.current.year,
                use_month_numbers: true %></td>
    </tr>
    <tr>
      <th class="user-form-th"><%= f.label :sex, class: 'f-label', value: '性別' %></th>
    </tr>
    <tr>
      <td>
        <%= f.radio_button :sex, 1 %>
        <%= f.label :sex_1, '女性' %>&nbsp;&nbsp;
        <%= f.radio_button :sex, 2 %>
        <%= f.label :sex_2, '男性' %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit class: 'account-btn' %></td>
    </tr>
  </table>
  <%# end %><!-- form_with -->
</div><!-- /.create-account -->
