<header class="post-user-header">
  <nav>
    <ul class="clearfix">
      <li>
        <%= link_to posts_path, class: 'to-index' do %>
          <i class="fab fa-facebook-square fa-2x"></i>
        <% end %>
      </li>
      <li><input type="text" placeholder="検索" class="search"></li>
      <li><input type="submit" value="検索" class="search-btn"></li>
      <li>
        <%= link_to account_path(current_user) do %>
          <%= image_tag image_set(current_user), alt: 'ユーザーアイコン',
                class: 'user-icon cover30' %>
        <% end %>
      </li>
      <li>
        <%= link_to account_path(current_user), class: 'header-nav' do %>
          <%= user_name %>
        <% end %>
      </li>
      <li><%= link_to '新規投稿', new_post_path, class: 'header-nav login-font' %></li>
      <li><%= link_to 'ログアウト', session_path(current_user.id),
                method: :delete, class: 'header-nav' %></li>
      <% if current_user.admin? %>
        <li><%= link_to 'ユーザー管理', admin_users_path, class: 'header-nav' %></li>
      <% end %>
    </ul>
  </nav>
</header>
