<%# admin_usersとaccountのユーザー詳細で共有 %>
<div class="post-content content-boader">
  <div class="content-header clearfix">
    <p><%= image_tag image_set(@user), alt: 'ユーザーアイコン', class: 'user-icon cover50' %></p>

    <div class="ct-l">
      <h3 class="show-username">
      <%# ユーザー詳細の名前表示の切り替え %>
        <% if controller_name == 'accounts' %>
          <%= user_name %>
        <% else %>
          <%= @user.last_name + ' ' + @user.first_name %>
        <% end %>
      </h3>
    </div><!-- /.ct-l -->

    <% if current_user %>
      <% if current_user.id == @user.id%>
        <div class="ct-r">
          <%= link_to '編集', edit_account_path(current_user) %> |
          <%= link_to '削除', account_path(current_user), method: :delete,
                  data: { confirm: '削除してもいいですか？' } %>
        </div><!-- /.ct-r -->
      <% end %>
    <% end %>
  </div><!-- /.content-header clearfix -->

  <div class="outer-table">
    <table class="user-info">
      <tr class="account-show">
        <th class="a-s-box">メールアドレス</th>
        <td class="a-s-box"><%= @user.email %></td>
      </tr>
      <tr class="account-show">
        <th class="a-s-box">誕生日</th>
        <td class="a-s-box"><%= @user.birthday.strftime('%Y年 %m月 %d日') %></td>
      </tr>
      <tr class="account-show">
        <th class="a-s-box">性別</th>
        <td class="a-s-box"><%= @user.sex == 1 ? '女性' : '男性' %></td>
      </tr>
      <% if current_user&.admin? %>
        <tr class="account-show">
          <th class="a-s-box">管理者権限</th>
          <td class="a-s-box"><%= @user.admin == true ? 'あり' : 'なし' %></td>
        </tr>
      <% end %>
    </table>
  </div><!-- /.outer-table -->
</div><!-- /.post-content -->
