<header>
  <nav>
    <ul class="clearfix">
      <li><i class="fab fa-facebook-square fa-2x"></i></li>
      <li><input type="text" placeholder="検索" class="search"></li>
      <li><input type="submit" value="検索" class="search-btn"></li>
      <li>
        <%= link_to accounts_path(current_user) do %>
          <%= image_tag 'dive_into_code.png', alt: 'ユーザーアイコン', class: 'user-icon cover30' %>
        <% end %>
      </li>
      <li class="user-name">
        <%= link_to accounts_path(current_user) do %>
          <%= user_name %>
        <% end %>
      </li>
      <li><%= link_to '新規投稿', new_post_path, class: 'post-btn' %></li>
      <li><%= link_to 'ログアウト', session_path(current_user.id),
                method: :delete %></li>
    </ul>
  </nav>
</header>
