<% @page_title = '投稿詳細' %>
<%= render 'shared/user_header' %>

<div class="outer-wrapper">
  <div class="notice">
    <p><%= notice %></p>
  </div><!-- /.notice -->

  <div class="container">
    <p><%= notice %></p>
    <h2><%= @page_title %></h2>

    <div class="to-index">
      <%= link_to '戻る', posts_path %>
    </div><!-- /.to-index -->

    <%= render 'content', post: @post %>
  </div><!-- /.container -->
</div><!-- /.outer-wrapper -->
