<% @page_title = 'ユーザー管理' %>
<%= render 'shared/header' %>

<div class="outer-wrapper">
  <div class="notice">
    <p><%= notice %></p>
  </div><!-- /.notice -->

  <div class="user-container">
    <h2 class="page-title"><%= page_title %></h2>
    <div class="to-index">
      <%= link_to '投稿一覧へ戻る', posts_path %>
    </div><!-- /.to-index -->
    <div class="to-index">
      <%= link_to '新規ユーザー作成', new_admin_user_path %>
    </div><!-- /.to-index -->
    <table class="user-index">
      <tr>
        <td class="u-index-td center">ID</td>
        <td class="u-index-td center">アイコン</td>
        <td class="u-index-td center">氏名</td>
        <td class="u-index-td center">メールアドレス</td>
        <td class="u-index-td center">操作</td>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td class="u-index-td padding-l right"><%= user.id %></td>
          <td class="u-index-td padding-l center">
            <%= image_tag image_set(user), alt: 'ユーザーアイコン', class: 'user-icon cover50' %>
          </td>
          <td class="u-index-td padding-l">
            <%= link_to user.last_name + ' ' + user.first_name,
                    admin_user_path(user.id) %>
          </td>
          <td class="u-index-td padding-l"><%= user.email %></td>
          <td class="u-index-td center">
            <%= render 'shared/edit_delete_link', user: user %>
          </td>
        </tr>
      <% end %>
    </table>
  </div><!-- /.user-container -->
</div><!-- /.outer-wrapper -->

