<% @page_title = 'ユーザー登録' %>
<%= render 'shared/user_header' %>

<div class="outer-wrapper">
  <div class="new-container">
    <h2 class="page-title"><%= @page_title %></h2>
    <div class="create-account">
      <%= form_with model: [:admin, @user], local: true do |f| %>
        <%= render 'shared/user_icon_area', f: f %>
        <%= render 'shared/user_form', f: f %>
      <% end %>
    </div><!-- /.create-account -->
  </div><!-- /.new-container -->
</div><!-- /.outer-wrapper -->
