<% @page_title = 'アカウント情報の編集' %>
<%= render 'shared/header' %>

<div class="outer-wrapper">
  <div class="new-container">
    <div class="create-account">
      <h2 class="page-title"><%= @page_title %></h2>

      <div class="to-index">
        <%= link_to '戻る', :back %>
      </div><!-- /.to-index -->

      <%= form_with model: @user, url: account_path, local: true do |f| %>
        <%= render 'shared/user_icon_area', f: f %>
        <%= render 'shared/user_form', f: f %>
      <% end %><!-- form_with -->
    </div><!-- /.create-account -->
  </div><!-- /.content -->
</div><!-- /.outer-wrapper -->
