<% @page_title = 'アカウント情報'%>
<%= render 'shared/header' %>

<div class="outer-wrapper">
  <div class="notice">
    <p><%= notice %></p>
  </div><!-- /.notice -->

  <div class="container">
    <div class="content">
      <h2><%= @page_title %></h2>

      <div class="to-index">
        <%= link_to '投稿一覧へ戻る', posts_path %>
      </div><!-- /.to-index -->

      <%= render 'shared/user_show' %>
    </div><!-- /.content -->
  </div><!-- /.container -->
</div><!-- /.outer-wrapperd -->
